<div fxLayout="column">
  <div class="homeTopImage" fxFlex fxLayout="row">
    <span fxFlex="55"></span>
    <div fxFlex="40" class="titleBox" fxLayout="column" fxLayoutAlign="start center">
      <h2>
        RE-IMAGINING SECURITY THROUGH VISUALIZATION
      </h2>
      <p>
        Combining deep experience in physical protection with cutting-edge technologies, Sandia National Laboratories develops software tools that enable users to create virtual training grounds for data-driven, real-world training, analysis, and testing.
      </p>
      <div style="height:2px; width:100%;" class="primaryColorBG">&nbsp;</div>
      <br />
    </div>
  </div>
  <div class="toolsSection">
    <br />
    <h2 class="center">Tools</h2>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <div class="toolBox">
        <h4 class="center">Scribe©</h4>
        <h6 class="center">Tabletop and 3D Visualization Tool</h6>
        <img class="toolImg" [src]="scribeImagePath"/>
        <p>
          Use Scribe3D© to conduct visually rich and responsive table-top training exercises
          developed using modern game engine technology. Conduct tabletops on actual or
          notional facilities complete with a plethora of personnel, weapons, props, security
          system components, and vehicles to choose from. Scribe visualizes the exercise in
          real-time, tracking all personnel actions and events to intuitively convey time,
          events, personnel actions, and realistic consequences.
        </p>
        <ul>
          <li>Create table-top exercises for attack, theft, sabotage, or natural disasters</li>
          <li>
            Evaluate current security system effectiveness, then add, move, or replace
            components as needed
          </li>
          <li>Develop operational staff training videos</li>
          <li>Develop terrains in 2D using images or 3D using models</li>
          <li>
            Derive terrain from different sources, including maps, images, GIS, and
            high-fidelity 3D models
          </li>
          <li>
            Intuitive interface enables rapid creation of personnel and vehicles easily
            and quickly
          </li>
          <li>
            Integrated PHPK adjudication
          </li>
          <li>First-person perspectives and control for all personnel and vehicles</li>
          <li>
            All events and actions are captured into an instinctive timeline for clear
            scenario development, time management, and playback
          </li>
          <li>
            Record notes at specific locations and times
          </li>
        </ul>
      </div>
      <div class="toolBox">
        <h4 class="center">PathTrace©</h4>
        <h6 class="center">
          Simple Pathway Analysis and Exploration
        </h6>
        <img class="toolImg" [src]="traceImagePath" />
        <p>
          PathTrace©, developed by physical protection subject matter experts at
          Sandia National Laboratories, is a path analysis tool that uses established
          algorithms to help facility operators identify site security risks and
          vulnerabilities. PathTrace enables the user to upload floorplans or images
          of real-world, hypothetical or mock facilities and define site security
          components, detection areas, response force times, and targets. The user
          then specifies the adversary, including the adversary’s skills and tools.
          Using this information, PathTrace analyzes potential entry paths the
          adversary might use to successfully breach facility defenses, and provides
          the user with the following data:

        </p>
        <ul>
          <li>Adversary task time </li>
          <li>
            Total probability of detection
          </li>
          <li>Critical detection point </li>
          <li>Time after the critical detection point</li>
          <li>
            Probability of interruption
          </li>
          <li>
            Probability of detection, delay, and defeat time of every barrier
          </li>
          <li>
            Detection area that the adversary has encountered
          </li>
        </ul>
      </div>
      <div class="toolBox">
        <h4 class="center">PREP©</h4>
        <h6 class="center">Online Collaborative Role-Based Exercises</h6>

        <img class="toolImg" [src]="prepImagePath" />
        <p>
          PREP is a web-based tool designed for collaborative remote exercises. PREP integrates collaborative document editing, team-based video conferencing, and scheduled injects (videos, questionnaires, polls, etc.) that provide users with feedback and information during the exercise. The applications integrates with Microsoft TEAMS and Office 365 for seamless video chat and document editing. These features enable users to easily develop and deploy team-based, collaborative exercises anywhere in the world.
        </p>
        <ul>
          <li>Create table-top exercises for attack, theft, sabotage, or natural disasters</li>
          <li>
            Evaluate current security system effectiveness, then add, move, or replace
            components as needed
          </li>
          <li>Develop operational staff training videos</li>
          <li>Develop terrains in 2D using images or 3D using models</li>
          <li>
            Derive terrain from different sources, including maps, images, GIS, and
            high-fidelity 3D models
          </li>
          <li>
            Intuitive interface enables rapid creation of personnel and vehicles easily
            and quickly
          </li>
          <li>
            Integrated PHPK adjudication
          </li>
          <li>First-person perspectives and control for all personnel and vehicles</li>
          <li>
            All events and actions are captured into an instinctive timeline for clear
            scenario development, time management, and playback
          </li>
          <li>
            Record notes at specific locations and times
          </li>
        </ul>
        <br />
      </div>
    </div>
  </div>
</div>
