<div class="footer primaryColorBG" fxLayout="column">
  <div fxLayout="row">
    <a mat-button href="home">Home</a>
    <!--<span *ngIf="!user">
    <a mat-button href="account/request">Request Access</a>
    <a mat-button href="account/login">Log In</a>
  </span>
  <span *ngIf="user">
    <a mat-button href="exercise/redirect">View Exercises</a>
    <a mat-button (click)="logout()">Log Out</a>
  </span>-->
  </div>
  <br />
  <p class="text-muted small">
    International Nuclear Security Engineering Training websites are operated by National Technology and Engineering Solutions of Sandia LLC on behalf of the U.S. Department of Energy.
  </p>
</div>
